# MongoDB Aggregation Framework Tutorial

Welcome to the MongoDB Aggregation Framework tutorial! This notebook will guide you through the basics and advanced concepts of MongoDB aggregation pipelines.

Aggregation operations process data records and return computed results. The aggregation pipeline groups values from multiple documents together, and can perform a variety of operations on the grouped data to return a single result.

In [1]:
# ----------------------------
#  Connect to MongoDB Server
# ----------------------------

from pymongo import MongoClient
# import pprint

MONGODB_URI ="mongodb+srv://farazkhoso299_db_user:fnzeofLHATnQNc9v@cd.gwjkeou.mongodb.net/" # Replace with your mongodb uri

client = MongoClient(MONGODB_URI)  # Replace with your MongoDB URI
print("Connected to MongoDB server")

Connected to MongoDB server

### Create or Select Database and Collection

In [2]:
db = client["aggregation_db"]  # Database name: aggregation_db
collection = db["students"]  # Collection name: students
print(f"Database '{db.name}' and collection '{collection.name}' selected")

Database 'aggregation_db' and collection 'students' selected

### Insert Sample Data

Let's insert some sample student data to work with in our aggregation examples:

In [4]:
# Clear any existing data
collection.delete_many({})

# Insert sample student data
students_data = [
    {"name": "Ali", "age": 20, "grade": 85, "subject": "Math", "city": "Karachi", "semester": 1},
    {"name": "Sara", "age": 22, "grade": 92, "subject": "Physics", "city": "Lahore", "semester": 1},
    {"name": "Ahmed", "age": 21, "grade": 78, "subject": "Math", "city": "Karachi", "semester": 1},
    {"name": "Fatima", "age": 23, "grade": 95, "subject": "Chemistry", "city": "Islamabad", "semester": 2},
    {"name": "Umar", "age": 20, "grade": 88, "subject": "Physics", "city": "Lahore", "semester": 2},
    {"name": "Ayesha", "age": 22, "grade": 90, "subject": "Math", "city": "Karachi", "semester": 2},
    {"name": "Hassan", "age": 24, "grade": 82, "subject": "Chemistry", "city": "Islamabad", "semester": 1},
    {"name": "Zainab", "age": 21, "grade": 87, "subject": "Physics", "city": "Lahore", "semester": 1}
]

result = collection.insert_many(students_data)
print(f"Inserted {len(result.inserted_ids)} student documents")

# Display all documents
print("\nAll student documents:")
for student in collection.find({}):
    print(student)

Inserted 8 student documents

All student documents:
{'_id': ObjectId('698dd30cf250fa98f0d0bf08'), 'name': 'Ali', 'age': 20, 'grade': 85, 'subject': 'Math', 'city': 'Karachi', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf09'), 'name': 'Sara', 'age': 22, 'grade': 92, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0a'), 'name': 'Ahmed', 'age': 21, 'grade': 78, 'subject': 'Math', 'city': 'Karachi', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0b'), 'name': 'Fatima', 'age': 23, 'grade': 95, 'subject': 'Chemistry', 'city': 'Islamabad', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'age': 20, 'grade': 88, 'subject': 'Physics', 'city': 'Lahore', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0d'), 'name': 'Ayesha', 'age': 22, 'grade': 90, 'subject': 'Math', 'city': 'Karachi', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0e'), 'name': 'Hassan', 'age': 24, 'grade': 82, 'subject': 'Chemistry', 'city': 'Islamabad', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'age': 21, 'grade': 87, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}

## Basic Aggregation Concepts

The aggregation pipeline consists of stages that process documents. Each stage performs an operation on the input documents and passes the processed documents to the next stage.

### $match Stage

The `$match` stage filters documents based on specified criteria. It's similar to the `find()` method but used within the aggregation pipeline.

In [5]:
# Find all students with grade greater than 85
pipeline = [
    {
        "$match": {
            "grade": {"$gt": 85}
        }
    }
]

print("Students with grade > 85:")
for doc in collection.aggregate(pipeline):
    print(doc)

Students with grade > 85:
{'_id': ObjectId('698dd30cf250fa98f0d0bf09'), 'name': 'Sara', 'age': 22, 'grade': 92, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0b'), 'name': 'Fatima', 'age': 23, 'grade': 95, 'subject': 'Chemistry', 'city': 'Islamabad', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'age': 20, 'grade': 88, 'subject': 'Physics', 'city': 'Lahore', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0d'), 'name': 'Ayesha', 'age': 22, 'grade': 90, 'subject': 'Math', 'city': 'Karachi', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'age': 21, 'grade': 87, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}

### $group Stage

The `$group` stage groups documents by a specified identifier expression and applies accumulator expressions to compute values for each group.

In [7]:
# Calculate average grade by subject
pipeline = [
    {
        "$group": {
            "_id": "$subject",  # Group by subject
            "average_grade": {"$avg": "$grade"},  # Calculate average grade
            "count": {"$sum": 1},  # Count number of students per subject
            "highest_grade": {"$max": "$grade"},  # Find highest grade
            "lowest_grade": {"$min": "$grade"}   # Find lowest grade
        }
    },
    {
        "$sort": {"average_grade": -1}  # Sort by average grade descending
    }
]

print("Average grades by subject:")
for doc in collection.aggregate(pipeline):
    print(doc)

Average grades by subject:
{'_id': 'Physics', 'average_grade': 89.0, 'count': 3, 'highest_grade': 92, 'lowest_grade': 87}
{'_id': 'Chemistry', 'average_grade': 88.5, 'count': 2, 'highest_grade': 95, 'lowest_grade': 82}
{'_id': 'Math', 'average_grade': 84.33333333333333, 'count': 3, 'highest_grade': 90, 'lowest_grade': 78}

### $project Stage

The `$project` stage reshapes each document in the stream by adding new fields, removing existing fields, or computing new values from existing fields.

In [8]:
# Project only name and grade, and add a new field indicating if grade is excellent
pipeline = [
    {
        "$project": {
            "name": 1,
            "grade": 1,
            "is_excellent": {
                "$cond": {
                    "if": {"$gt": ["$grade", 90]},
                    "then": "Yes",
                    "else": "No"
                }
            },
            "grade_status": {
                "$switch": {
                    "branches": [
                        {"case": {"$gte": ["$grade", 90]}, "then": "Excellent"},
                        {"case": {"$gte": ["$grade", 80]}, "then": "Good"},
                        {"case": {"$gte": ["$grade", 70]}, "then": "Average"}
                    ],
                    "default": "Below Average"
                }
            }
        }
    }
]

print("Projected student data with grade status:")
for doc in collection.aggregate(pipeline):
    print(doc)

Projected student data with grade status:
{'_id': ObjectId('698dd30cf250fa98f0d0bf08'), 'name': 'Ali', 'grade': 85, 'is_excellent': 'No', 'grade_status': 'Good'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf09'), 'name': 'Sara', 'grade': 92, 'is_excellent': 'Yes', 'grade_status': 'Excellent'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0a'), 'name': 'Ahmed', 'grade': 78, 'is_excellent': 'No', 'grade_status': 'Average'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0b'), 'name': 'Fatima', 'grade': 95, 'is_excellent': 'Yes', 'grade_status': 'Excellent'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'grade': 88, 'is_excellent': 'No', 'grade_status': 'Good'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0d'), 'name': 'Ayesha', 'grade': 90, 'is_excellent': 'No', 'grade_status': 'Excellent'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0e'), 'name': 'Hassan', 'grade': 82, 'is_excellent': 'No', 'grade_status': 'Good'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'grade': 87, 'is_excellent': 'No', 'grade_status': 'Good'}

### $sort Stage

The `$sort` stage reorders the document stream by a specified sort key. It takes a document with a field name and a number that specifies the sort order.

In [9]:
# Sort students by grade in descending order
pipeline = [
    {
        "$sort": {"grade": -1}  # -1 for descending, 1 for ascending
    }
]

print("Students sorted by grade (descending):")
for doc in collection.aggregate(pipeline):
    print(doc)

Students sorted by grade (descending):
{'_id': ObjectId('698dd30cf250fa98f0d0bf0b'), 'name': 'Fatima', 'age': 23, 'grade': 95, 'subject': 'Chemistry', 'city': 'Islamabad', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf09'), 'name': 'Sara', 'age': 22, 'grade': 92, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0d'), 'name': 'Ayesha', 'age': 22, 'grade': 90, 'subject': 'Math', 'city': 'Karachi', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'age': 20, 'grade': 88, 'subject': 'Physics', 'city': 'Lahore', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'age': 21, 'grade': 87, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf08'), 'name': 'Ali', 'age': 20, 'grade': 85, 'subject': 'Math', 'city': 'Karachi', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0e'), 'name': 'Hassan', 'age': 24, 'grade': 82, 'subject': 'Chemistry', 'city': 'Islamabad', 'semester': 1}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0a'), 'name': 'Ahmed', 'age': 21, 'grade': 78, 'subject': 'Math', 'city': 'Karachi', 'semester': 1}

### $limit and $skip Stages

The `$limit` stage limits the number of documents passed to the next stage, while `$skip` skips over the specified number of documents.

In [10]:
# Skip first 3 documents and limit to next 2
pipeline = [
    {
        "$sort": {"grade": -1}
    },
    {
        "$skip": 3
    },
    {
        "$limit": 2
    }
]

print("Top 4-5 students by grade:")
for doc in collection.aggregate(pipeline):
    print(doc)

Top 4-5 students by grade:
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'age': 20, 'grade': 88, 'subject': 'Physics', 'city': 'Lahore', 'semester': 2}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'age': 21, 'grade': 87, 'subject': 'Physics', 'city': 'Lahore', 'semester': 1}

## Complex Aggregation Pipeline Example

Let's combine multiple stages to perform a more complex analysis:

In [11]:
# Complex pipeline: Find top performing students by city
pipeline = [
    # Step 1: Match students with grade > 80
    {
        "$match": {
            "grade": {"$gt": 80}
        }
    },
    # Step 2: Group by city and calculate stats
    {
        "$group": {
            "_id": "$city",
            "avg_grade": {"$avg": "$grade"},
            "total_students": {"$sum": 1},
            "top_student": {"$first": "$name"},
            "best_grade": {"$max": "$grade"}
        }
    },
    # Step 3: Add calculated field
    {
        "$addFields": {
            "performance_level": {
                "$switch": {
                    "branches": [
                        {"case": {"$gte": ["$avg_grade", 90]}, "then": "Excellent"},
                        {"case": {"$gte": ["$avg_grade", 80]}, "then": "Good"}
                    ],
                    "default": "Average"
                }
            }
        }
    },
    # Step 4: Sort by average grade
    {
        "$sort": {"avg_grade": -1}
    }
]

print("City-wise performance analysis:")
for doc in collection.aggregate(pipeline):
    print(doc)

City-wise performance analysis:
{'_id': 'Lahore', 'avg_grade': 89.0, 'total_students': 3, 'top_student': 'Sara', 'best_grade': 92, 'performance_level': 'Good'}
{'_id': 'Islamabad', 'avg_grade': 88.5, 'total_students': 2, 'top_student': 'Fatima', 'best_grade': 95, 'performance_level': 'Good'}
{'_id': 'Karachi', 'avg_grade': 87.5, 'total_students': 2, 'top_student': 'Ali', 'best_grade': 90, 'performance_level': 'Good'}

### $lookup Stage (Join Operation)

The `$lookup` stage performs a left outer join to another collection in the same database to filter in documents from the "joined" collection for processing.

In [12]:
# Create a new collection for departments
dept_collection = db["departments"]
dept_collection.delete_many({})  # Clear existing data

# Insert department data
dept_data = [
    {"_id": "Math", "department_head": "Dr. Khan", "building": "Block A"},
    {"_id": "Physics", "department_head": "Dr. Ahmed", "building": "Block B"},
    {"_id": "Chemistry", "department_head": "Dr. Ali", "building": "Block C"}
]

dept_result = dept_collection.insert_many(dept_data)
print(f"Inserted {len(dept_result.inserted_ids)} department documents")

Inserted 3 department documents

In [14]:
# Use $lookup to join students with departments
pipeline = [
    {
        "$lookup": {
            "from": "departments",  # Collection to join with
            "localField": "subject",  # Field from the input documents
            "foreignField": "_id",  # Field from the documents of the "from" collection
            "as": "department_info"  # Name of the new array field to add to input documents
        }
    },
    # Unwind the department_info array to get individual objects
    {
        "$unwind": "$department_info"
    },
    # Project specific fields
    {
        "$project": {
            "name": 1,
            "grade": 1,
            "subject": 1,
            "department_head": "$department_info.department_head",
            "building": "$department_info.building"
        }
    }
]

print("Student data joined with department information:")
for doc in collection.aggregate(pipeline):
    print(doc)

Student data joined with department information:
{'_id': ObjectId('698dd30cf250fa98f0d0bf08'), 'name': 'Ali', 'grade': 85, 'subject': 'Math', 'department_head': 'Dr. Khan', 'building': 'Block A'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf09'), 'name': 'Sara', 'grade': 92, 'subject': 'Physics', 'department_head': 'Dr. Ahmed', 'building': 'Block B'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0a'), 'name': 'Ahmed', 'grade': 78, 'subject': 'Math', 'department_head': 'Dr. Khan', 'building': 'Block A'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0b'), 'name': 'Fatima', 'grade': 95, 'subject': 'Chemistry', 'department_head': 'Dr. Ali', 'building': 'Block C'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0c'), 'name': 'Umar', 'grade': 88, 'subject': 'Physics', 'department_head': 'Dr. Ahmed', 'building': 'Block B'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0d'), 'name': 'Ayesha', 'grade': 90, 'subject': 'Math', 'department_head': 'Dr. Khan', 'building': 'Block A'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0e'), 'name': 'Hassan', 'grade': 82, 'subject': 'Chemistry', 'department_head': 'Dr. Ali', 'building': 'Block C'}
{'_id': ObjectId('698dd30cf250fa98f0d0bf0f'), 'name': 'Zainab', 'grade': 87, 'subject': 'Physics', 'department_head': 'Dr. Ahmed', 'building': 'Block B'}

### $unwind Stage

The `$unwind` stage deconstructs an array field from the input documents to output a document for each element. Each output document replaces the array with an element value.

In [ ]:
# Insert a document with an array field to demonstrate $unwind
collection_with_hobbies = db["students_with_hobbies"]
collection_with_hobbies.delete_many({})

students_with_hobbies = [
    {"name": "Ali", "age": 20, "hobbies": ["Reading", "Swimming", "Coding"]},
    {"name": "Sara", "age": 22, "hobbies": ["Painting", "Dancing"]},
    {"name": "Ahmed", "age": 21, "hobbies": ["Gaming", "Cooking", "Traveling", "Photography"]}
]

result = collection_with_hobbies.insert_many(students_with_hobbies)
print(f"Inserted {len(result.inserted_ids)} student documents with hobbies")

In [ ]:
# Use $unwind to expand the hobbies array
pipeline = [
    {
        "$unwind": "$hobbies"
    }
]

print("Students with expanded hobbies:")
for doc in collection_with_hobbies.aggregate(pipeline):
    print(doc)

### $facet Stage

The `$facet` stage allows multiple aggregation pipelines to be run on the same input, with each pipeline having its own field in the output document.

In [ ]:
# Use $facet to get multiple analyses in a single query
pipeline = [
    {
        "$facet": {
            "grade_distribution": [
                {
                    "$bucket": {
                        "groupBy": "$grade",
                        "boundaries": [0, 70, 80, 90, 100],
                        "default": "Other",
                        "output": {
                            "count": {"$sum": 1},
                            "students": {"$push": "$name"}
                        }
                    }
                }
            ],
            "subject_stats": [
                {
                    "$group": {
                        "_id": "$subject",
                        "avg_grade": {"$avg": "$grade"},
                        "count": {"$sum": 1}
                    }
                },
                {
                    "$sort": {"avg_grade": -1}
                }
            ],
            "top_performers": [
                {
                    "$sort": {"grade": -1}
                },
                {
                    "$limit": 3
                },
                {
                    "$project": {
                        "name": 1,
                        "grade": 1,
                        "subject": 1
                    }
                }
            ]
        }
    }
]

print("Faceted analysis results:")
result = list(collection.aggregate(pipeline))
print(result[0])

## Summary

In this tutorial, we covered the most important MongoDB aggregation pipeline stages:

- `$match`: Filters documents based on specified criteria
- `$group`: Groups documents and applies accumulator expressions
- `$project`: Reshapes documents by including/excluding fields
- `$sort`: Reorders documents based on specified fields
- `$limit` and `$skip`: Control the number of documents in the result
- `$lookup`: Performs left outer joins with other collections
- `$unwind`: Deconstructs arrays to create separate documents
- `$facet`: Runs multiple pipelines on the same input

These stages can be combined in various ways to perform complex data analysis operations in MongoDB.

In [ ]:
# Clean up - drop the database we created for this tutorial
client.drop_database("aggregation_db")
print("Tutorial database dropped")